.search-container::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

/* Container onde fica a listagem de filmes */
.container-list-movies {
    width: 85vw;
    height: 500px;
    margin: 25px 0;
    
    border-radius: 10px;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 7px 5px 0px rgba(0, 0, 0, 0.16);
    background-color: #6C63FF;
}

/* #btn-novo {
    margin-top: auto;
} */