/* Configuração de drop box */
.drop-box {
    width: 280px;
    height: 35px;
    margin-top: 15px;
    padding-left: 25px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    outline: none;
    cursor: pointer;

    border-radius: 30px 30px 30px 30px;
    filter: drop-shadow(5px 5px 4px #4444dd);
    
    color: #767676;
    font-weight: bold;
    background-color: #F3F3F3;
}

.drop-box img {
    height: 20px;
    width: 18px;
    margin: 0 15px 0 auto;

    -webkit-user-select: none;
}

.container-options {
    width: 280px;
    padding: 0 0 0 0;
    border-radius: 10px;
    margin-top: 15px;
    
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #F3F3F3;
    z-index: 2;
}

.option {
    width: 100%;
    padding: 10px 10px 10px 25px;
}

.option:nth-child(1) {
    border-radius: 10px 10px 0 0 ;
}

.option:last-child {
    border-radius:  0 0 10px 10px;
}

.option:hover {
    background-color: #4444ddbb;
}

/* Container com os Generos */

.container-genero {
    width: 270px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 58px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: #F3F3F3;
    z-index: 1;
}

.genero {
    margin: 10px;
    padding: 5px 15px;
    
    display: flex;
    align-items: center;

    border-radius: 5px;
    filter: drop-shadow(5px 5px 4px #4444dd);
    background-color: #4444ddbb;
}

.genero img {
    widows: 10px;
    height: 10px;
    margin-left: auto;
    
    cursor: pointer;
}